
@media (min-width: 992px) {
}


.card {
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
}

.card__title {
  font-size: 20px;
  background-color: #627A14;
  padding: 2vh 2vw;
  height: 15vh;
  box-sizing: border-box;
  color: #fff;
}

body>main {
  height: 80vh;
}

footer {
  height: 5vh;
  background-color: #B3CB65;
}

.card {
  float: left;
  background-color: #fbfbfb;
  width: 80vw;
  height: 85vh;
}


#map_canvas { 
  float: center;
  width: 50vw;
  height: 50vh;;
}

body,h1 {font-family: "Raleway", sans-serif}