
@media (min-width: 992px) {
}

body, html {
  height:70%;
  font-family: "Amatic SC", sans-serif;
}

.bgimg {
  background-size: cover;
  background-color: white;
  min-height: 90%;
}

.card {
  height:100%;
  font-family: "Amatic SC", sans-serif;
  background-size: cover;
  background-color: white;
  min-height: 90%;
}



#map_canvas { 
  height: 100%;
  width: 100%;
  float: center;
}

